{% extends "base.html" %}

{% block mycontent %}
<h1>Login Page</h1>
<p>Hello Returning User </p>

<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p>{{form.username.label}} <br> {{form.username()}}</p>
    <p>{{form.password.label}} <br> {{form.password()}}</p>
    <!--<p>{{form.remember_me.label}} <br> {{form.remember_me()}}</p>-->
    <p>{{form.submit.label}} <br> {{form.submit()}}</p>
    <p>New User? <a href="{{ url_for('signup') }}">Sign Up Here</a><p>
</form>
{% endblock %}
