{% extends "base.html" %}

{% block mycontent %}
<center>
    <h1>{{user.username}}'s Profile</h1>

    

    <p>
        username: {{user.username}}
        {% if user == current_user %}
        <button><a href="{{ url_for('edit', username=current_user.username) }}">Edit</a></button>
        {% else %}
        <button><a href="{{ url_for('message', username=current_user.username) }}">Message</a></button>
        {% endif %}
    </p>

    <p>
        following count: {{user.following}}
        {% if user == current_user %}
        <button><a href="{{ url_for('following', username=current_user.username) }}">View</a></button>
        {% else %}
        {% endif %}
    </p>

    <p>
        follower count: {{user.followers}}
        {% if user == current_user %}
        <button><a href="{{ url_for('followers', username=current_user.username) }}">View</a></button>
        {% else %}
        <button><a href="{{ url_for('follow', username=current_user.username) }}">Follow</a></button>
        {% endif %}
    </p>

    <p>
        {% if user == current_user %}
        <button><a href="{{ url_for('deleteConfirm', username=current_user.username) }}">Delete Account</a></button>
        {% endif %}
    </p>
</center>

{% if user == current_user %}
    {% for post in posts %}
    <p>
    {{ post.author.username }} says: <b>{{ post.body }}</b>
    </p>
    {% endfor %}
{% endif %}

{% endblock %}