{% extends "base.html" %}

{% block mycontent %}
<center>
    <h1>{{username.username}}'s Profile</h1>

    <p>
        
    </p>

    <p>
        username: {{username.username}}
        <button><a href="{{ url_for('message', username=current_user.username) }}">Message</a></button>
    </p>

    <p>
        bio: {{username.bio}}
    </p>
    
    <p>
        <button><a href="{{ url_for('follow', username=current_user.username) }}">Follow</a></button>
    </p>

    <p>
        <button><a href="{{ url_for('unfollow', username=current_user.username) }}">Unfollow</a></button>
    </p>
</center>

{% endblock %}